body {
	padding: 0;
	margin: 0;
}

html, body, #mapa {
	height: 100%;
}

#buscar {
	background-color: white;
	width: auto;
	height: auto;
	padding: 10px;
}

input {
	width: 200px;
}

#resultados {
	font-style: Arial;
	color: black;
	font-size: 85%;
}

.mi-nueva-lista {
	text-decoration: none;
	color:black;
	font-size: 95%;
}

p {
	font-style: Arial;
	
}